body{
    margin: 0px;
    padding: 0px;
    background-color: #ececec;
    color: #858796;
}

.footer{
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#wrapper {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 10%;
    background-color: #4e73df;
    color: white;
}

.nav-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
}

.nav-item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    height: 40px;
}

.nav-link{
    color: white;
    text-decoration: none;
    line-height: normal;
}

.nav-icon{
    padding-right: 5px;
}

.active{
    font-weight:700;
}

#content{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.nav-top{
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    background-color: white;
}

.nav-top-link{
    color: #1c294e;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-decoration: none;
}

.container-main{
    display: flex;
    flex-direction: column;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-column{
    display: flex;
    flex-direction: column;
}

.container-row{
    display: flex;
    flex-direction: row;
}

.form-left{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-right{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.card-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    padding-left: 10px;
}

.card-header-text{
    font-weight: bold;
    color: #2e59d9;
    font-size: large;
}

.font-weight-bold{
    font-weight: bold;
}

.float-right{
    float: right;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.justify-content-end{
    justify-content: end;
}
.justify-content-start{
    justify-content: start;
}

.h4-text{
    color: #6e707e;
}

.small{
    font-size: small;
}

.card{
    background-color:white;
    background-clip:border-box;
    border:1px solid #e3e6f0;
    border-radius:5px;
    margin: 10px;
}

.shadow{
    box-shadow: 0 2px 4px 0 rgba(58,59,69,.15);
}

.card-body{
    padding:5px;
}

.form-row{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.form-control{
    padding: 5px;
    font-size: medium;
    border: 1px solid #d1d3e2;
    border-radius: 5px;
    background-color: white;
}