<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Book For Customer - Nordic Notorhome</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body id="wrapper">
    <nav class="nav">
        <div class="nav-title">
            <span>Nordic</span>
            <span>Motorhome</span>
        </div>
        <br>
        <ul class="navbar-nav">
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/dashboard}"><span>Dashboard</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/bookings}"><span>Bookings</span></a></li>
            <li class="nav-item" role="presentation" ><a class="nav-link" th:href="@{/createNewBooking}"><span>Create New Booking</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/vehicles}"><span>Vehicles</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customers}"><span>Customers</span></a></li>
        </ul>
    </nav>
        <div id="content">
            <nav class="nav-top">
                <a class="nav-top-link" th:href="@{/logout}" ><span>Logout</span></a>
            </nav>
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header-container">
                        <p class="card-header-text">Find Customer</p>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/findCustomerForBooking}" th:object="${bookExistingCustomer}" method="post">
                            <div class="flex container-row justify-content-start align-items-center">
                                <label>
                                    <select th:field="*{searchForm.attribute}" class="form-control-sm">
                                        <option th:value="first_name" selected="">First Name</option>
                                        <option th:value="last_name">Last Name</option>
                                        <option th:value="email">Email</option>
                                        <option th:value="phone_number">Phone Number</option>
                                    </select>
                                    <input name ="searchForm.value" th:value="*{searchForm.value}" class="form-control-sm" placeholder="Search" >
                                </label>
                                <input hidden name="vehicle_id" th:value="*{vehicle_id}">
                                <input hidden name="quote" th:value="*{quote}">
                                <input hidden name="searchForm.start_date" th:value="*{searchForm.start_date}">
                                <input hidden name="searchForm.end_date" th:value="*{searchForm.end_date}">
                                <input type="submit" value="Search" style="margin: 10px;" class="btn">
                            </div>
                        </form>
                    </div>
                    <div class="">
                        <table class="">
                            <thead>
                            <tr>
                                <th>Customer Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Address ID</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer: ${customersList} ">
                                <td th:text="${customer.customer_id}"></td>
                                <td th:text="${customer.first_name}"></td>
                                <td th:text="${customer.last_name}"></td>
                                <td th:text="${customer.phone_number}"></td>
                                <td th:text="${customer.email}"></td>
                                <td th:text="${customer.address_id}"></td>
                                <td>
                                    <a class="btn"
                                       th:href="@{'/bookingDetails/'+${bookExistingCustomer.vehicle_id}+'/'+
                                       ${bookExistingCustomer.searchForm.start_date}+'/'+
                                       ${bookExistingCustomer.searchForm.end_date}+'/'+${bookExistingCustomer.quote}+'/'+${customer.customer_id}}">
                                        Book
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Customer Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Address ID</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <span>Copyright © Nordic Notorhome 2020</span>
            </footer>
        </div>
</body>

</html>