<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Create New Booking - Nordic Notorhome</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome5-overrides.min.css}">
</head>

<body id="wrapper">
    <nav class="nav">
        <div class="nav-title">
            <span>Nordic</span>
            <span>Motorhome</span>
        </div>
        <br>
        <ul class="navbar-nav">
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/dashboard}"><i class="fas fa-tachometer-alt nav-icon"></i><span>Dashboard</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/bookings}"><span><i class="fas fa-table nav-icon"></i>Bookings</span></a></li>
            <li class="nav-item" role="presentation" ><a class="nav-link active" th:href="@{/createNewBooking}"><i class="far fa-calendar-plus nav-icon"></i><span>Create New Booking</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/vehicles}"><i class="fas fa-car nav-icon"></i><span>Vehicles</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customers}"><i class="fas fa-users nav-icon"></i><span>Customers</span></a></li>
        </ul>
    </nav>
            <div id="content">
                <nav class="nav-top">
                    <a class="nav-top-link" th:href="@{/logout}" ><span>Logout</span></a>
                </nav>
                <div class="container-fluid">
                <h3 class="text-dark">Create New Booking</h3>
                <div class="card shadow">
                    <div class="card-header-container">
                        <p class="card-header-text">Check Availability</p>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/findFreeVehicles}" method="post" th:object="${searchForm}">
                            <div class="flex flex-row justify-content-between align-items-stretch">
                            <div class="flex col justify-content-start align-items-center" style="margin-right: 10px;">
                                <label>
                                    <strong>Start Date</strong><br>
                                </label>
                                <input placeholder="YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" class="form-control-sm" type="text" name="start_date" th:value="*{start_date}">
                            </div>
                            <div class="flex col justify-content-start align-items-center">
                                <label><strong>End Date</strong><br></label>
                                <input placeholder="YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" class="form-control-sm" type="text" name="end_date" th:value="*{end_date}" >
                            </div>
                            <div class="flex col justify-content-start align-items-center" style="margin-left: 10px">
                                <label><strong>Capacity</strong><br></label>
                                <select required name="vehicle_capacity" th:field="*{value}" class="form-control-sm">
                                    <option th:value="2">2</option>
                                    <option th:value="3">3</option>
                                    <option th:value="4">4</option>
                                    <option th:value="6">6</option>
                                </select>
                            </div>
                            <div class="justify-content-center align-content-center">
                                <input type="submit" value="Search" style="margin: 10px;" class="btn btn-primary btn-sm d-none d-sm-inline-block">
                            </div>
                            </div>
                        </form>
                        </div>
                        <div class="">
                            <table class="">
                                <thead>
                                    <tr>
                                        <th>Vehicle Id</th>
                                        <th>Model</th>
                                        <th>Brand</th>
                                        <th>Type</th>
                                        <th>Capacity</th>
                                        <th>Plate</th>
                                        <th>Quote</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="vehicle: ${freeVehicles} ">
                                        <td th:text="${vehicle.vehicle_id}"><a href="vehicleDetails.html"></a></td>
                                        <td th:text="${vehicle.vehicle_model}"><a href="vehicleDetails.html"></a></td>
                                        <td th:text="${vehicle.vehicle_brand}"><a href="vehicleDetails.html"></a></td>
                                        <td th:text="${vehicle.vehicle_type_name}"><a href="vehicleDetails.html"></a></td>
                                        <td th:text="${vehicle.vehicle_capacity}"><a href="vehicleDetails.html"></a></td>
                                        <td th:text="${vehicle.licence_plate}"><a href="vehicleDetails.html"></a></td>
                                        <td th:text="${vehicle.vehicle_calculated_quote}"><span><span>€</span></span></td>
                                        <td>
                                            <a class="btn" th:href="@{'/bookingDetails/'+${vehicle.vehicle_id}+'/'+${searchForm.start_date}+'/'+${searchForm.end_date}+'/'+${vehicle.vehicle_calculated_quote}}">Book</a>
                                        </td>
                                        <td>
                                            <a class="btn" th:href="@{'/bookForCustomer/'+${vehicle.vehicle_id}+'/'+${searchForm.start_date}+'/'+${searchForm.end_date}+'/'+${vehicle.vehicle_calculated_quote}}">Book For Existing Customer</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Vehicle Id</th>
                                        <th>Model</th>
                                        <th>Brand</th>
                                        <th>Type</th>
                                        <th>Capacity</th>
                                        <th>Plate</th>
                                        <th>Quote</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <span>Copyright © Nordic Notorhome 2020</span>
                </footer>
    </div>
</body>

</html>