<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Login - Nordic Notorhome</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body class="bg-gradient-primary">
    <div class="flex container-row card shadow" style="margin-top:200px; margin-left: 200px;margin-right: 200px">
           <div class="login-dog" style="width: 50%">
          </div>
        <div class="flex container-column justify-content-center align-items-center card shadow" style="text-align: center; width:50%">
        <div>
            <h3 class="text-dark">Welcome Back!</h3>
            <h5 class="text-dark" th:text="${incorrect}"></h5>
        </div>
        <form th:action="@{/login}" th:object="${employee}" class="flex container-column justify-content-center align-items-center" method="post">
                <input th:value="*{employee_login}" name="employee_login" class="form-control-sm" type="text" placeholder="Enter Login Id...">
                <input th:value="*{employee_password}" name="employee_password" class="form-control-sm" type="password" placeholder="Password">
            <input class="btn" type="submit">
        </form>
        </div>
    </div>
</body>
</html>