<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>No Auth - Nordic Notorhome</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body id="wrapper">
        <nav class="nav">
            <div class="nav-title">
                <span>Nordic</span>
                <span>Motorhome</span>
            </div>
            <br>
            <ul class="navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/dashboard}"><span>Dashboard</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/bookings}"><span>Bookings</span></a></li>
                <li class="nav-item" role="presentation" ><a class="nav-link" th:href="@{/createNewBooking}"><span>Create New Booking</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/vehicles}"><span>Vehicles</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customers}"><span>Customers</span></a></li>
            </ul>
        </nav>
            <div id="content">
                <nav class="nav-top">
                    <a class="nav-top-link" th:href="@{/logout}" ><span>Logout</span></a>
                </nav>
            <div class="container-fluid">
            <h1 class="text-dark">Page is not available for you</h1>
            </div>
                <footer class="footer">
                    <span>Copyright © Nordic Notorhome 2020</span>
                </footer>
            </div>
</body>

</html>