<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Nordic Notorhome</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome5-overrides.min.css}">
</head>

<body id="wrapper">
        <nav class="nav">
            <div class="nav-title">
                <span>Nordic</span>
                <span>Motorhome</span>
            </div>
            <br>
            <ul class="navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/dashboard}"><i class="fas fa-tachometer-alt nav-icon"></i><span>Dashboard</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/bookings}"><span><i class="fas fa-table nav-icon"></i>Bookings</span></a></li>
                <li class="nav-item" role="presentation" ><a class="nav-link" th:href="@{/createNewBooking}"><i class="far fa-calendar-plus nav-icon"></i><span>Create New Booking</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/vehicles}"><i class="fas fa-car nav-icon"></i><span>Vehicles</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customers}"><i class="fas fa-users nav-icon"></i><span>Customers</span></a></li>
            </ul>
        </nav>
            <div id="content">
                <nav class="nav-top">
                    <a class="nav-top-link" th:href="@{/logout}" ><span>Logout</span></a>
                </nav>
            <div class="container-fluid">
            <h1 class="text-dark">Page is not available for you</h1>
            </div>
                <footer class="footer">
                    <span>Copyright © Nordic Notorhome 2020</span>
                </footer>
            </div>
</body>

</html>