<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Vehicles - Nordic Notorhome</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body id="wrapper">
        <nav class="nav">
            <div class="nav-title">
                <span>Nordic</span>
                <span>Motorhome</span>
            </div>
            <br>
            <ul class="navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/dashboard}"><span>Dashboard</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/bookings}"><span>Bookings</span></a></li>
                <li class="nav-item" role="presentation" ><a class="nav-link" th:href="@{/createNewBooking}"><span>Create New Booking</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/vehicles}"><span>Vehicles</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customers}"><span>Customers</span></a></li>
            </ul>
        </nav>
            <div id="content">
                <nav class="nav-top">
                    <a class="nav-top-link" th:href="@{/logout}" ><span>Logout</span></a>
                </nav>
            <div class="container-fluid">
                <h3 class="text-dark">Vehicles</h3>
                <div class="card shadow">
                    <div class="card-header-container">
                        <p class="card-header-text">Vehicle Information</p>
                    </div>
                    <div class="card-body">
                        <form th:object="${searchForm}" th:action="@{/findVehicles}" method="get" name="searchForm">
                            <div class="flex flex-row justify-content-between align-items-stretch">
                                <div class="flex col justify-content-start align-items-center">
                                    <label>
                                    <select th:field="*{attribute}" class="form-control-sm">
                                        <option th:value="licence_plate">Licence Plate</option>
                                        <option th:value="vehicle_model">Model</option>
                                        <option th:value="vehicle_status">Status</option>
                                        <option th:value="vehicle_brand">Brand</option>
                                        <option th:value="vehicle_capacity">Capacity</option>
                                    </select>
                                    </label>
                                    <input th:value="*{value}" name="value" class="form-control-sm" placeholder="Search">
                                </div>
                            <input type="submit" value="Search" class="btn">
                            </div>
                        </form>
                        <div class="">
                            <table class="">
                                <thead>
                                    <tr>
                                        <th>Licence Plate</th>
                                        <th>Model</th>
                                        <th>Brand</th>
                                        <th>Capacity</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr th:each="vehicle : ${vehicles}">
                                        <td th:text="${vehicle.licence_plate}"></td>
                                        <td th:text="${vehicle.vehicle_model}"></td>
                                        <td th:text="${vehicle.vehicle_brand}"></td>
                                        <td th:text="${vehicle.vehicle_capacity}"></td>
                                        <td th:text="${vehicle.vehicle_status}"></td>
                                        <td><a class="btn" th:href="@{'vehicleDetails/'+${vehicle.vehicle_id}}">&nbsp;View</a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><strong>Licence Plate</strong></td>
                                        <td><strong>Model</strong></td>
                                        <td><strong>Brand</strong></td>
                                        <td><strong>Capacity</strong></td>
                                        <td><strong>Status</strong></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <footer class="footer">
                    <span>Copyright © Nordic Notorhome 2020</span>
                </footer>
        </div>
</body>

</html>