<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Nordic Notorhome</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome5-overrides.min.css}">
</head>

<body id="page-top" th:with="isDisabled=${employee_type} == 'MAINTENANCE' ? true : false">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-start align-items-xl-start sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-text mx-3"><span class="float-left">Nordic</span><span class="float-left">Motorhome</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/dashboard}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/bookings}"><span><i class="fas fa-table"></i>Bookings</span></a></li>
                    <li class="nav-item" role="presentation" ><a class="nav-link" th:href="@{/createNewBooking}"><i class="far fa-calendar-plus"></i><span>Create New Booking</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/vehicles}"><i class="fas fa-car"></i><span>Vehicles</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/customers}"><i class="fa fa-users fa-2x"></i><span>Customers</span></a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top flex-row justify-content-end">
                    <a class="nav-link" th:href="@{/logout}" ></i><span>Logout</span></a>
                </nav>
            <form th:action="${isDisabled}? @{/saveVehicleStatus} : @{/saveVehicle}" class="container-fluid" th:object="${vehicle}" modelAttribute="vehicle" name="vehicle" method="post">
                <input hidden th:value="*{vehicle_id}" name="vehicle_id">
                <div class="justify-content-between flex-row d-flex align-content-center" style="margin-bottom: 10px;">
                    <a th:href="@{/vehicles}"><button class="btn btn-link btn-sm" type="button"> <i class="fa fa-chevron-left"></i></button></a>
                    <h3 th:text="${title}" name="title" class="text-dark d-flex flex-row justify-content-between mb-4"></h3>
                    <input type="submit" class="btn btn-primary btn-sm" value="Save" name="save" style="height: 30px">
                </div>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="../static/assets/img/rent-a-motorhome.jpg" width="160" height="160"></div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Status</h6>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-between align-items-center">
                                <select th:disabled="${isDisabled}" th:field="*{vehicle_status}" name="vehicle_status" class="form-control form-control-sm custom-select custom-select-sm">
                                    <option th:value="READY">READY</option>
                                    <option th:value="RENTED">RENTED</option>
                                    <option th:value="RETURNED">RETURNED</option>
                                    <option th:value="UNAVAILABLE">UNAVAILABLE</option>
                                </select>
                            </div>
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Mechanic Status</h6>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-between align-items-center">
                                <select th:field="*{mechanic_status}" name="mechanic_status" class="form-control form-control-sm custom-select custom-select-sm">
                                    <option th:value="READY">READY</option>
                                    <option th:value="TO_BE_CHECKED">TO BE CHECKED</option>
                                    <option th:value="MAINTENANCE_NEEDED">MAINTENANCE NEEDED</option>
                                </select>
                            </div>
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Cleaning Status</h6>
                            </div>
                            <div class="card-body d-flex flex-row justify-content-between align-items-center">
                                <select th:field="*{cleaning_status}" name="cleaning_status" class="form-control form-control-sm custom-select custom-select-sm">
                                    <option th:value="READY">READY</option>
                                    <option th:value="CLEANING_NEEDED">CLEANING NEEDED</option>
                                </select>
                            </div>
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Extras</h6>
                            </div>
                            <div class="card-body">
                                    <h6 class="small font-weight-bold">Kitchen
                                        <td th:switch="*{kitchen}">
                                        <span th:case="true" class="float-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span th:case="false" class="float-right">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                        </td>
                                    </h6>
                                <h6 class="small font-weight-bold">Wifi
                                    <td th:switch="*{wifi}">
                                        <span th:case="true" class="float-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span th:case="false" class="float-right">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </td>
                                </h6>
                                <h6 class="small font-weight-bold">Shower
                                    <td th:switch="*{shower}">
                                        <span th:case="true" class="float-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span th:case="false" class="float-right">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </td>
                                </h6>
                                <h6 class="small font-weight-bold">TV
                                    <td th:switch="*{shower}">
                                        <span th:case="true" class="float-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span th:case="false" class="float-right">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </td>
                                </h6>
                                <h4 class="small font-weight-bold">Storage Size
                                    <span class="float-right">
                                        <span th:text="*{storage_size}"></span>
                                        <span class="float-right"> m^2</span>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Vehicle Information</p>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group d-flex flex-column"><label><strong>Brand</strong></label>
                                                        <span th:text="*{vehicle_brand}" name="vehicle_brand"></span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group d-flex flex-column"><label><strong>Model</strong><br></label>
                                                        <span th:text="*{vehicle_model}" name="vehicle_model"></span></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label><strong>Licence Plate</strong></label>
                                                        <input th:disabled="${isDisabled}" th:value="*{licence_plate}" class="form-control" type="text" name="licence_plate">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group d-flex flex-column"><label><strong>Vehicle Type</strong></label>
                                                        <span th:text="*{vehicle_type_name}" name="vehicle_type_name"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Vehicle Details</p>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="form-group"><label><strong>Cost Per Day</strong></label>
                                                <input disabled class="form-control" type="text" name="cost_per_day" th:value="*{cost_per_day}"></div>
                                            <div class="form-group"><label><strong>Odometer</strong></label>
                                                <input th:disabled="${isDisabled}" class="form-control" type="number" min=1 name="vehicle_odometer" th:value="*{vehicle_odometer}"></div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label><strong>Capacity</strong></label>
                                                        <select disabled th:field="*{vehicle_capacity}" name="vehicle_capacity" class="form-control form-control form-control-sm custom-select custom-select-sm">
                                                            <option th:value="2">2</option>
                                                            <option th:value="3">3</option>
                                                            <option th:value="4">4</option>
                                                            <option th:value="6">6</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group d-flex flex-column">
                                                        <label><strong>Engine Type</strong></label>
                                                        <span th:text="*{fuel_type}" name="fuel_type"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group"><label><strong>Additional Notes</strong><br></label>
                                        <textarea th:text="*{additional_notes}" name="additional_notes" class="form-control" rows="4"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Nordic Notorhome 2020</span></div>
            </div>
        </footer>
    </div>
    </div>
</body>

</html>